body{
    background-color:#222;
    padding-top:40px;
    font-family: 'Quattrocento Sans', sans-serif;
  }

h1{
  color:#fff;
}

.fa.fa-diamond{
  color:#f27d0c;
}

.fa.fa-rocket{
  color:#f27d0c;
}

.fa.fa-futbol-o{
  color:#f27d0c;
}

.fa.fa-heart{
  color:#f27d0c;
}

.fa.fa-bolt{
  color:#f27d0c;
}


strong{
  color:#f27d0c;
  font-size:20px;
}

li{
  color:#fff;
  font-size:18px;
}

p{
  color:#fff;
}

.spacer{
  padding-top:30px;
}

#modalMyDropdown{
  
    bottom: 11vh !important;
    background-color: blue !important;
    display: none;
    color: white;
    border-radius: 12px;
  }
  #modalMyDropdown li {
    text-align: left !important;
  }


  @media (min-width: 350px){
    #logoId{
      height: 100% !important; 
      width: 100vh !important; 
      align-items: center !important;
    }

    #navbarVertical{
      padding: 23px !important;
      margin: 23px !important;
    }
    #traductoId{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    #mytraductId{
      height: 45.5vh; width: 100% !important; 
    }
    #allMyFillId{
     
      margin: 23px !important;
    }

    #modalMyDropdown{
      
      margin-right: 9px !important;
      bottom: 0 !important;
      background-color: blue !important;
      display: none;
      color: white;
      border-radius: 12px;
     
    }
    #modalMyDropdown li {
      text-align: left !important;
    }
  }

  @media (min-width: 600px){
    #logoId{
      height: 100% !important; 
      width: 100vh !important; 
      align-items: center !important;
    }
    #navbarVertical{
      padding: 23px !important;
      margin: 23px !important;
    }
    #traductoId{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    #mytraductId{
      height: 45.5vh !important; width: 100% !important; 
    }
    #allMyFillId{
     
      margin: 23px !important;
    }

    #modalMyDropdown{
      margin-right: 9px !important;
      bottom: 0 !important;
      background-color: blue !important;
      display: none;
      color: white;
      border-radius: 12px;
       
    }
    #modalMyDropdown li {
      text-align: left !important;
    }
  }



  .back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #FFB6C1;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all 0.4s;
    cursor: pointer;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #6776f4;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  #userData li {
    color: #6776f4 !important;
  }